@model IEnumerable<PresentationWebProject.Models.Presentation>
@{
	ViewData["Title"] = "Главная";
}


	<article>
		<p>Методические материалы предназначены для выполнения лабораторных работ по дисциплине "Базы данных".</p>
		<p>Блок презентаций направлен на изучение системы управления базой данных MySQL.</p>

		<p>
			Презентации помогают преподавателю более детально и наглядно объяснить изучаемую тему, а сами студенты могут самостоятельно изучать
			необходимый материал в более легкой и понятной форме.
		</p>
		<p>На нашем сайте вы можете скачать  презентации и с их помощью повторить материал теоретического курса.</p>

		<span class="skachat">
			<a asp-controller="Home" asp-action="Presentations"><b>Презентации</b></a>
		</span><br>


	</article>
